<% provide(:title, "all articles") %>
<div class="articles jumbotron">
  <h1>Listing articles</h1>

  <%= link_to 'New article', new_article_path, id: "top" %>

  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
   
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article), class: "links" %></td>
        <td><%= link_to 'Edit', edit_article_path(article), class: "links" %></td>
        <td><%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: "links" %></td>
      </tr>
    <% end %>
  </table>
</div>